/obj/Debug/net6.0/ALGORY.AssemblyInfo.cs
/obj/ALGORY.csproj.nuget.g.props
/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/obj/Debug/net6.0/ALGORY.AssemblyInfoInputs.cache
/obj/Debug/net6.0/ALGORY.GeneratedMSBuildEditorConfig.editorconfig
/obj/ALGORY.csproj.nuget.g.targets
/obj/Debug/net6.0/ALGORY.assets.cache
/obj/Debug/net6.0/ALGORY.csproj.AssemblyReference.cache
